<h1> Welcome to my new Rails App! </h1>

<% if @user%>
<p>Welcome, <%= @user %></p>
<%end%>


<% if @user %>
 Logged in as <%= @user.email %>

 <%= button_to "Log out", logout_path, method: :delete %>
<% end %>

<p>omoh</p>